// -----------------------------------------------------------------------------
// This file contains all styles related to the section component.
// -----------------------------------------------------------------------------

.c-viewSection {
  display: grid;
  grid-gap: 1.7em;

  &:last-of-type {
    padding-bottom: 100px;
  }

  &__carouselWrapper {
    overflow: hidden;
    position: relative;
  }

  &__overflowGradient {
    pointer-events: none;
    z-index: 2;
    width: 150px;

    &--left {
      position: absolute 0 initial 0 0;
      background: ease-in-out-sine-gradient(to left, rgba($main-bg-color, 0), $main-bg-color);
    }

    &--right {
      position: absolute 0 0 0 initial;
      background: ease-in-out-sine-gradient(to right, rgba($main-bg-color, 0), $main-bg-color);
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__collapseToggle {
    @include item-hover;
    display: flex;
    align-items: center;
  }

  &__collapseToggleIcon {
    transition: transform 0.3s;

    &.is-collapsed {

      .c-viewSection__collapseToggleIcon {
        transform: scaleY(-1);
      }

    }
  }

  &__carouselControls {
    display: flex;
  }

  &__carouselControlsIcon {
    @include item-hover;
  }

  &__inner {
    display: grid;

    &--grid {
      grid-template-columns: repeat(100, 270px);
      grid-template-rows: 1fr;
      grid-gap: 15px;
    }

    &--list {
      grid-auto-rows: 75px;
      grid-row-gap: 2px;
    }
  }

  &__biography {
    margin: 0;
    font-size: 1.1em;
    line-height: 1.5em;
  }

  &__copyright {
    color: $white-70;
    font-size: 0.7em;
  }
}
