$font-family: 'San Francisco', Helvetica, Arial, sans-serif;
$white: #fff;
$black: #000;
$accent-color: #ca2a59;
$blue: #282a3c;
$light-blue: #2d364c;
$dark-blue: #121420;
$border-color: rgba(255, 255, 255, 0.05);
$main-bg-color: #171a27;
$large-width: 75%;
$small-width: 95%;
$shadow: 0 20px 40px rgba($black, 0.15);
$shadow-highlight: 0 20px 50px rgba($black, 0.4);
$breakpoint-mobile: 768px;

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null, $z-index: null) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $z-index;
}

@mixin absolute($args...) {
  @include position(absolute, $args...);
}

@mixin fixed($args...) {
  @include position(fixed, $args...);
}

@mixin relative($args...) {
  @include position(relative, $args...);
}

@mixin flex($display: null, $justify: null, $align: null, $direction: null, $flex: null, $basis: null, $wrap: null) {
  display: $display;
  flex: $flex;
  flex-basis: $basis;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin comma-separated($font-size, $font-weight) {
  @include relative;
  margin-right: 5px;
  padding-right: 5px;
  color: rgba($white, 0.7);
  font-weight: $font-weight;
  font-size: $font-size;
  transition: color 0.3s;

  &:hover {
    color: $white;
    cursor: pointer;
  }

  &:after {
    @include absolute($top: 0, $right: 0, $bottom: 0, $left: 0)
    content: ",";
  }

  &:last-child {
    margin-right: 0;
    padding-right: 0;

    &:after {
      content: "";
    }
  }
}
@mixin item-hover() {
  color: rgba($white, 0.7);
  transition: color 0.3s, opacity 0.3s;

  &:hover {
    color: $white;
    cursor: pointer;
  }
}
