$white: #fff;
$black: #000;
$accent-color: #ca2a59;
$accent-color-dark: #a72c50;
$blue: #282a3c;
$light-blue: #2d364c;
$dark-blue: #121420;
$border-color: rgba(255, 255, 255, 0.1);
$top-bg-color: rgba(12, 16, 27, 0.2);
$main-bg-color: #1A1D2C;
$large-width: 75%;
$small-width: 95%;
$shadow: 0 20px 40px rgba($black, 0.15);
$shadow-highlight: 0 20px 50px rgba($black, 0.4);

@mixin comma-separated($font-size, $font-weight) {
  position: relative;
  margin-right: 5px;
  padding-right: 5px;
  color: rgba($white, 0.7);
  letter-spacing: 2px;
  font-weight: $font-weight;
  font-size: $font-size;
  transition: color 0.3s;

  &:hover {
    color: $white;
    cursor: pointer;
  }

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    content: ",";
  }

  &:last-child {
    margin-right: 0;
    padding-right: 0;

    &:after {
      content: "";
    }
  }
}
@mixin item-hover() {
  color: rgba($white, 0.7);
  transition: color 0.2s;

  &:hover {
    color: $white;
    cursor: pointer;
  }
}
