<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>music-app</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:700|Roboto:300,400,700|Material+Icons" rel="stylesheet">
</head>

<body>
  <div id="app" :class="{scrolled: scrollPosition > 5, sidenavexpanded: sidenav == true }">

    <!-- Top Bar -->
    <div class="top-bar">
      <div class="top left">
        <i class="toggle material-icons" v-on:click="sidenav = !sidenav">menu</i>
        <div v-if="scrollPosition < 300" class="branding mobile-hidden">Music App</div>
        <div v-else class="branding mobile-hidden">Ellie Goulding</div>
      </div>
      <div class="top center">
        <i class="material-icons search-icon">search</i>
        <input type="text" placeholder="Search" />
      </div>
      <div class="top right">
        <img class="user-image mobile-hidden" src="/static/images/avatar.jpg" />
        <div class="user-name mobile-hidden">Leon Seipp</div>
        <i class="toggle material-icons" v-on:click="dropdown = !dropdown">keyboard_arrow_down</i>
        <transition name="fade">
          <div class="dropdown user" v-if="dropdown">
            <div class="dropdown-item"><i class="material-icons">account_circle</i> My Account</div>
            <div class="dropdown-item"><i class="material-icons">power_settings_new</i> Logout</div>
          </div>
        </transition>
      </div>
    </div>
    <!-- End Top Bar -->

    <!-- Sidenav -->
    <nav class="sidenav">
      <div class="nav-item"><i class="material-icons">home</i><a>Home</a></div>
      <div class="nav-item active"><i class="material-icons">book</i><a>Browse</a></div>
      <div class="nav-item"><i class="material-icons">settings_input_antenna</i><a>Radio</a></div>
      <div class="nav-item"><i class="material-icons">library_music</i><a>My Music</a></div>
      <div class="nav-item"><i class="material-icons">playlist_play</i><a>My Playlists</a></div>
      <div class="nav-item"><i class="material-icons">settings</i><a>Settings</a></div>
    </nav>
    <!-- End Sidenav -->

    <!-- Router View -->
    <router-view></router-view>
    <!-- End Router View -->

    <!-- Bottom Bar -->
    <div class="bottom-bar">
      <div class="bottom left mobile-hidden">
        <img class="album-cover" src="/static/images/cover4.png" />
        <div class="currently-playing">
          <div class="title">First Time</div>
          <div class="artist"><span>Kygo</span><span>Ellie Goulding</span></div>
        </div>
      </div>
      <div class="bottom center">
        <i class="shuffle material-icons" v-tooltip="{ content: 'Shuffle', container: '.tooltip-container' }">shuffle</i>
        <i class="skip material-icons">skip_previous</i>
        <i v-if="playing == false" @click="playing = true" class="toggle play material-icons">play_circle_filled</i>
        <i v-if="playing == true" @click="playing = false" class="toggle pause material-icons">pause_circle_filled</i>
        <i class="skip material-icons">skip_next</i>
        <i class="repeat material-icons" v-tooltip="{ content: 'Repeat', container: '.tooltip-container' }">repeat</i>
      </div>
      <div class="bottom right mobile-hidden">
        <i v-if="volume == 0" class="volume material-icons">volume_mute</i>
        <i v-if="volume <= 50 && volume > 0" class="volume material-icons">volume_down</i>
        <i v-if="volume > 50" class="volume material-icons">volume_up</i>
        <vue-slider ref="slider" v-model="volume" width="100px" tooltip="false"></vue-slider>
        <i class="cast material-icons" v-tooltip="{ content: 'Cast', container: '.tooltip-container' }">cast</i>
        <i class="queue material-icons" v-tooltip="{ content: 'Queue', container: '.tooltip-container' }">queue_music</i>
      </div>
    </div>
    <!-- End Bottom Bar -->

    <div class="tooltip-container">
    </div>

  </div>
  <script src="/dist/build.js"></script>
</body>

</html>
